<p-growl [value]="message" [immutable]="false" life="7000"></p-growl>
<div class="top">
  <div class="top__in" style="padding-top: 25px">
    <a href="http://molecularinsights.io/" class="top__logo">
      <img src="./assets/images/logo.png" alt="" style="height: 70px;">
    </a>
  </div>
  <div class="login-screen">
    <div class="flex-block flex-column align-center" *ngIf="!isInvalidToken">
      <div class="block p-t-10">
        <div class="title">
          Reset Password for
          <p style="font-size: x-large;"> {{resetPassword.UserName}}</p>
        </div>
      </div>
      <div class="block p-t-10">
        <input type="password" class="field w-320" placeholder="New Password" maxlength="20" [(ngModel)]="resetPassword.Password"
          (keydown)="checkPasswordValidation($event)" (blur)="checkPasswordValidation($event)" passwordValidate="true" required />
        <div style="color: #fff;" *ngIf="isInvalidPasswordValidation">
          Password is mandatory(for new user), and it should be a minimum of 4 characters. You could use only '@','!','#','$','_','%','&' these special
          characters.
        </div>
      </div>
      <div class="block p-t-10">
        <input type="password" class="field w-320" name="Confirm Password" maxlength="20" placeholder="Confirm Password" [(ngModel)]="resetPassword.ConfirmPassword"
          required/>
      </div>
      <div class="block p-t-10">
        <button class="btn w-320 h-60" (click)="reset()">Reset Password</button>
      </div>
    </div>

    <div class="flex-block flex-column align-center" *ngIf="isInvalidToken">
      <div class="block p-t-10">
        <div class="title">
          Link is invalid or expired
        </div>
      </div>
    </div>

    <div class="login-footer">
      <a href="tel:614.599.3800" class="phone">614.599.3800</a> |
      <a href="#" class="email">molecularinsights.io</a>
    </div>
  </div>
