<div class="flex-block site-content">
  <div class="main-content">
    <div class="content" scroll-bar>
      <div class="flex-block">
        <div class="titled-block block grow-100 m-r-20">
          <div class="title">Analytics</div>
          <div class="content-block flex-block flex-wrap" style="text-align:left">
            task will be displayed soon!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block"></div>
    <div class="flex-block block">
    </div>
  </div>
</footer>